altgraph==0.17.4
astroid==3.2.4
colorama==0.4.6
dill==0.3.8
et-xmlfile==1.1.0
isort==5.13.2
mccabe==0.7.0
numpy==2.0.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
platformdirs==4.2.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pylint==3.2.6
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
setuptools==72.1.0
six==1.16.0
tomlkit==0.13.0
tzdata==2024.1
